/node_modules

/.vite


/dist
/dist-ssr

*.zip


*.tfstate
*.tfstate.*

.terraform/
*.tfvars
*.tfvars.json
terraform.tfstate.d/
.terraform.lock.hcl

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.env
.env.local
.env.*.local
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/
tfplan
